<?xml version="1.0"?>
<launch>
  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find pde4430_coursework2)/urdf/three_wheeled_robot.xacro'" />

  <!-- Start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- Start joint state publisher -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
    args="0 0 0 0 0 0 map base_link 50" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args=""/>
</launch>